* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    
}

body {
    background-color: rgb(248, 248, 248);
    /*background-color: rgb(241, 238, 238);*/
    color: rgb(20, 20, 20);
}


header {
    background-color: rgb(248, 248, 248);
    align-items: center;
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;    
    overflow-y: hidden;
    z-index: 1;
    
}

main {
    width: 100%;
    height: 300vh;
    padding-top: 9rem; 
}

a:hover {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: black;
    
}

/* Återanvändbara */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}
.center {
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.list {
    list-style-type: none;
}


/* header klasser */
.menu { 
    display: none;
    height: 40rem;
}


nav ul li {
    justify-content: flex-end; 
}

.margin {
    margin: 1rem;
}
.space {
    justify-content: flex-end;
}

.fonts {
    font-size: 2rem;
}

.list {
    list-style-type: none;
}

.width {
    width: 100%;
}
.paddingUl{
    padding: 0;
}

.paddingHeader {
    padding: 1rem;
}
.marginRight {
    margin-right: 0;
}

.nav-links {
    text-decoration: none;
    color: rgb(20, 20, 20);
}

.centerImageMain {
    justify-content: center;
}


/* DROPDOWN HEADER */

.fas.fa-ellipsis-v {
    color: rgb(41, 40, 40);
    font-size: 2rem;    
}

.hideThis{
    overflow-y: hidden;
}

.drop-links {
    text-decoration: none;
    color: rgb(20, 20, 20);
}

.iconHide {
    display: none;
}


/* MAIN KLASSER */

.imgTop {
    width: 80%;
    height: auto;    
}

.myPhotos {
    width: 20%;
    height: auto;
    padding: 0.2rem;
}

.mainWidth {
    width: 50%;
}

.mainPaddingTop {
    padding-top: 9rem;
}

/* SE TILL ATT SIDAN ÄR RESPONSIV! */

@media (max-width: 927px) {
   
    .iconHide {
        display: unset;
    }
    .fas.fa-ellipsis-v {
        display: unset;
    }
    .menu {
        display: unset;
    }
    nav ul li {
        display: none;
    }
    .myName {
        display: flex;
        margin-left: 20rem;
    }
  

}

@media (max-width: 550px){
    .fas.fa-ellipsis-v {
        display: unset;
    }
    .menu {
        display: unset;
    }
    nav ul li {
        display: none;
    }
    
}


@media (max-width: 320px){
    .fas.fa-ellipsis-v {
        display: unset;
    }
    .menu {
        display: unset;
    }
    nav ul li {
        display: none;
    }
    
}
