* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: rgb(241, 238, 238);
    color: rgb(20, 20, 20);
}


header {
    background-color: rgb(241, 238, 238);
    align-items: center;
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;    
    overflow-y: hidden;
}

main {
    /*
    background-color: honeydew; /*ta bort*/
    width: 100%;
    height: 300vh;
    padding-top: 5rem; 
}


/* Återanvändbara */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}
.center {
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.list {
    list-style-type: none;
}


/* header klasser */
.menu {
    
    display: none;
    height: 40rem;
   
    
}

nav ul li {
    justify-content: flex-end; 
    
}
.margin {
    margin: 1rem;
}
.space {
    justify-content: flex-end;
}

.fonts {
    font-size: 2rem;
}

.list {
    list-style-type: none;
}

.width {
    width: 100%;
}
.paddingUl{
    padding: 0;
}

.paddingHeader {
    padding: 1rem;
}
.marginRight {
    margin-right: 0;
}

.nav-links {
    text-decoration: none;
    color: rgb(20, 20, 20);
}

.centerImageMain {
    justify-content: center;
}


/* DROPDOWN HEADER */

.fas.fa-ellipsis-v {
    color: rgb(41, 40, 40);
    font-size: 2rem;
   
   
    
}
.hideThis{
    overflow-y: hidden;
}
.iconMarginBottom {
    margin-bottom: 3rem;
}
.drop-links {
    text-decoration: none;
    color: rgb(20, 20, 20);
}


/* MAIN KLASSER */

.imgTop {
    width: 80%;
    height: auto;
    margin-top: 8rem;
}

.mainWidth {
    width: 50%;
}

.mainCenterWidth {
    
    justify-content: center;
    text-align: center;
}

.mainPaddingTop {
    padding-top: 9rem;
}

/* SE TILL ATT SIDAN ÄR RESPONSIV! */

@media (max-width: 927px) {
   
    .fas.fa-ellipsis-v {
        display: unset;
    }
    .menu {
        display: unset;
    }
    nav ul li {
        display: none;
    }

}

@media (max-width: 550px){
    .fas.fa-ellipsis-v {
        display: unset;
    }
    .menu {
        display: unset;
    }
    nav ul li {
        display: none;
    }
    h4 {
        font-size: 1.8rem;
    }
}


@media (max-width: 320px){
    .fas.fa-ellipsis-v {
        display: unset;
    }
    .menu {
        display: unset;
    }
    nav ul li {
        display: none;
    }
    h4 {
        font-size: 1rem;
    }
}
